
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header, footer {
    text-align: center;
    background-color: yellow;
    padding: 1rem;
}


main {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.perfil-card {
    background: white;
    width: 90%;
    max-width: 400px;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto-perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
}


.social-list {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin-top: 1rem;
}

.social-list li {
    cursor: pointer;
    font-weight: bold;
}

.social-list li:hover {
    color: yellow;
    text-decoration: underline;
}


@media (max-width: 600px) {
    .perfil-card {
        max-width: 300px;
    }

    h1 {
        font-size: 1.5rem;
    }
}

